body {
  min-height: 100vh;
  margin: 0;

  
  background:
    radial-gradient(
      circle at top left,
      rgba(0, 255, 255, 0.15),   
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(255, 0, 255, 0.1),    
      transparent 45%
    ),
    linear-gradient(
      135deg,
      #0a0a0a,
      #0d0d0d,
      #1a1a1a
    );

  background-size: 400% 400%;  
  animation: gradientMove 25s ease infinite;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Header  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1rem 2rem;
}

/* Navbar*/
.navbar {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.8rem 2rem;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.05);  
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);

  transition: all 0.4s ease;
}


.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
}

.logo img {
  height: 30px;
  width: 30px;
  object-fit: contain;

}

.logo span {
  font-size: 1.2rem;
  font-weight: 600;
  color: goldenrod;   
  letter-spacing: 0.3px;
}

/* Nav links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #E0E0E0;
  font-size: 0.95rem;
  position: relative;
  transition: all 0.3s ease;
}

/* underline  */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: goldenrod; 
  box-shadow: 0 0 8px goldenrod;
  transition: width 0.3s ease;
}

.nav-links a:hover {
  color: goldenrod;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Responsive: small screens */
@media (max-width: 768px) {
  .nav-links {
    display: none; 
  }
}


.navbar:hover {
  box-shadow:  0 12px 40px goldenrod;
  border-color: goldenrod;
}
